<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRC Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C7A0F3721394F9D00029B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C7A0F4821394F9E00029B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C7A0F5321394F9E00029B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
